<div class="container">
  <div class="row">
    <div class="col-auto">
      <span class="h3 mr-3">Resonator:</span>
      <input type="number" min="1" max="4" [(ngModel)]="numFossils">
      slot(s)
      <button (click)="reset()">Reset</button>
    </div>
  </div>
  <div *ngFor="let index of fossilIndices()" class="row">
    <select name="fossil-{{index}}" [(ngModel)]="chosenFossils[index]" class="col-auto">
      <option value=""></option>
      <option [value]="fossil.name" *ngFor="let fossil of allFossils()">
        {{fossil.name}} ({{fossil.oneLineDescription}})
      </option>
    </select>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <app-fossil-search-by-tag
        (addFossil)="onAddFossil($event)"
      ></app-fossil-search-by-tag>
    </div>

    <div class="col-6">
      <app-mod-results [fossilNames]="chosenFossils"></app-mod-results>
    </div>
  </div>

</div>

